---
title: About
permalink: about
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <h2 class="post-title">About</h2>
      <p>
        Ana has a background in design, video and photography, and started developing for the web over 10 years ago, as a hobby. Fortunately she’s never looked back, and her creative background makes her an enthusiastic advocate of trying to create almost anything for the web. She is interested in ethics, indie web, sustainability and cats.
      </p>


    </main>

    {% include footer.html %}

  </body>

</html>
