---
title: Bookmarks
permalink: bookmarks
layout: bookmarks
description: Hand picked links that I want to share
---
<div class="page-content">
  <h2>Bookmarks</h2>
  <p>The bookmarks page has its own <a href="{{ "/feed.links.xml" | relative_url }}">RSS feed.</a></p>
  <ul class="bookmarks-list">
    {% for post in site.posts %}
    {% if post.category contains "links" %}
      <li class="bookmark h-entry">
        <div class="bookmark-info">
          <span class="bookmark-date">{{ post.date | date: '%B %d, %Y' }}</span>
          <h2 class="bookmark-title">
            <a class="u-bookmark-of h-cite" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <div class="bookmark-content">{{post.content}}</div>
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
