<nav role="navigation">
  <div class="menu-container wrapper">
    <ul>
      <li class="site-header">
        <a href="{{site.url}}" title="OhHelloAna latest blog posts">oh hello ana</a>
      </li>
      <li>
        <a href="{{site.url}}/about" title="About Ana">About</a>
      </li>
      <!-- <li>
        <a href="{{site.url}}" title="Contact Ana">Contact</a>
      </li>
      <li>
        <a href="{{site.url}}" title="List of websites I visit">Blogroll</a>
      </li> -->
    </ul>
  </div>
</nav>
