/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: $body-font-stack;
  color: $body;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: $third-color;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}

a {
  text-decoration: underline;
}

a:link {
    color: $secondary-color;
}

a:visited {
    color: $secondary-color;
}

a:hover {
    color: $secondary-color;
    text-decoration: none;
}

a:active {
    color: $secondary-color;
}

.page-content {
  margin-bottom: 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.post-list {
  display: flex;
  flex-direction: column;

  .single-post {
    padding: 10px;
    list-style: none;
    margin: 10px;
    border: 1px dashed;
    padding: 10px;

    .post-title:hover {
      background-color: $secondary-color;
      color: $color-hover;
    }

    a {
      text-decoration: none;
    }

    a:link {
        color: $secondary-color;
    }

    a:visited {
        color: $secondary-color;
    }

    a:hover {
        color: $color-hover;
    }

    a:active {
        color: $secondary-color;
    }
  }

  .post-info {
    word-wrap: break-word;
  }

  .post-meta {
    color: $body;
    font-family: $body-font-stack;
    font-size: 14px;
    text-transform: lowercase;
    color: black;
  }

  .post-title {
    color: $secondary-color;
    background-color: white;
  }
}
