/**
 * Reset some basic elements
 */
body, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

p,h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  padding: 0;
}

body {
  background-color: #EBE3D9;
  @extend %font-base;
  color: $body;
}

body:before, body:after {
	content: "";
	position: fixed;
	background: $secondary;
	left: 0;
	right: 0;
	height: 10px;
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

a {
  text-decoration: underline;
}

a:link {
  color: $secondary;
}

a:visited {
  color: $secondary;
}

a:hover {
	color: $secondary;
	text-decoration: none;
}

a:active {
  color: $secondary;
}

blockquote {
  margin: 1.5em 0;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
  color: $secondary;
}

blockquote:before {
  color: $secondary;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

cite {
  display: block;
  margin: 0 0 1em 0.5em;
}

img {
	width: auto;
  max-width: 100%;
  height: auto;
  outline-offset: -15px;
  outline: 3px dashed rgba(255, 255, 255, 0.2);
  margin: 15px 0;
}

.float-left {
  float: left;
  width: 50%;
  margin: 0 15px 0 0;
  max-width: fit-content;
}

.float-right {
  float: right;
  width: 50%;
  margin: 0 0 0 15px;
  max-width: fit-content;
}

.hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
