/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 30px;
  font-family: $body-font-stack;
  color: #1f0f09;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: #f8deca;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #f8deca;
    border-right: 10px solid #f8deca;
}

a {
  text-decoration: underline;
}

a:link {
    color: #56371b;
}

a:visited {
    color: #56371b;
}

a:hover {
    color: #d8a884;
    text-decoration: none;
}

a:active {
    color: #56371b;
}

.page-content {
  margin: 0 auto;
  max-width: 52rem;
  overflow: hidden;
  padding: 30px 0;
}


.post-list {

  .single-post {
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8a884;

    .post-title:hover {
      background-color: #d8a884;
      color: white;
    }

    a {
      text-decoration: none;
    }

    a:link {
        color: #1f0f09;
    }

    a:visited {
        color: #1f0f09;
    }

    a:hover {
        color: white;
    }

    a:active {
        color: #1f0f09;
    }
  }

  .post-meta {
    color: #d8a884;
    font-family: $body-font-stack;
    font-size: 14px;
    text-transform: lowercase;
  }

  .post-title {
    color: #1f0f09;
  }
}
