.bookmarks-list {
  display: block;
  @extend %font-base;
  font-size: rems(14px);
}

.bookmark {
  font-weight: initial;
  list-style: none;
  margin-bottom: 20px;
  padding: 10px;
  transition: background-color .5s;
  background-color: #e4dbd0;
}

.bookmark-date {
  font-size: rems(14px);
  background-color: $highlight;
  color: white;
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px;
}

.bookmark-title a {
  font-weight: initial;
  color: $dark-grey;
  line-height: 1.7;
  background-color: white;
  text-decoration: underline;
  padding: 5px;

  &:hover {
    background-color: $secondary;
    color: white;
    text-decoration: none;
  }
}

.bookmark-content {
  @extend %font-body;
  font-size: rems(14px);
  line-height: 1.7;

  & > ul {
    margin-bottom: 15px;
  }

  p:last-child, ul:last-child {
    margin: 0;
  }
}

.bookmark-tags {
  font-size: rems(15px);
}

.bookmark-single-tag {
  pointer-events: auto;
  &:hover {
    background-color: black;
    color: white;
  }
}

.bookmarks-list {
  list-style: none;
  & > li  {
    margin-bottom: 15px;

    &:last-child {
      margin: 0;
    }
  }
}
