footer {
  margin: 50px 0;
}

.footer-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 7px;
  border: 3px dashed;
  border-color: coral;

  .profile-img {
    padding: 10px;
    border: 1px dashed;
    width: 100px;
    order: 1;
    border: 1px dotted;
    outline-offset: -25px;
    outline: 3px dashed white;

    img{
      object-fit: cover;
      width: 100px;
    }
  }

  .bio {
    order: 3;
    width: 100%;
    padding: 0 0 10px 10px;
    align-self: center;
    outline-offset: 0;
    outline: 0;
    margin: 10px 0;

    .greeting {
      color: $body;
      font-size: 14px;
      text-transform: lowercase;
      background-color: black;
      color: white;
    }
  }
  .links {
    padding: 10px;
    order: 2;
    align-self: center;
    ul {
      list-style: none;
    }
  }
  .footer-notes {
    padding: 10px;
    text-align: center;
    margin: 10px 0 0 0;
    border: 1px dashed;
    width: 100%;
    flex: auto;
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .footer-inner-container {
    .bio {
      order: 2;
      width: auto;
      flex: 1;
      padding: 0 0 10px 10px;
      outline-offset: 4px;
      outline: 3px dashed black;
      margin: 0;
    }
    .links {
      order: 3;
    }
  }
}
