$font-size-base: 16px;
$line-height-base: 1.47;

.wrapper {
  max-width: 800px;
  margin: 0 auto;

  &.two-col {
    display: flex;
    flex-flow: row wrap;

    & > .page-content {
      flex: 1 100%;
    }
  }
}

@media all and (min-width: 800px) {
  .wrapper {
    &.two-col {
      & > .page-content {
        flex: 3;
      }
    }
  }
}