.site-header h1 {
  text-align: center;
  font-family: $headers-font-stack;
  font-weight: 100;
  margin: 40px 0 30px 0;

  a {
    color: $main-color;
    text-decoration: none;
  }

  a:hover {
    color: $main-color;
  }


  .title {
    border: 1px dashed $main-color;
    padding: 0 5px;
  }
}
