.site-header h1 {
  text-align: center;
  font-family: $headers-font-stack;
  font-weight: 100;

  a {
    color: #d8a884;
    text-decoration: none;
  }

  a:hover {
    color: #56371b;
  }


  .title {
    border: 1px dashed #d8a884;
    padding: 0 5px;
  }
}
