.menu-container {
  margin: 50px auto;

  ul {
    list-style: none;
  }
}



.site-header {
  text-align: center;
  font-family: monospace;
  font-size: rems(24px);

  a {
    color: $secondary;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: $secondary;
  }


  .title {
    border: 1px dashed $secondary;
    padding: 0 5px;
  }
}
