.post-title, .post-link {
  font-family: $headers-font-stack;
  font-weight: 100;
}

.post-title {
  color: $main-color;
}

.post-content {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.7;

  ul {
    list-style: square inside none;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 $highlight;
    padding: 0 1px 0 1px;
    transition: all .25s ease-in-out;
    &:hover {
      color: black;
      background-color: $highlight;
    }
  }

  p {
    margin-bottom: 30px;
  }

  .p-img {
    text-align: center;
  }

  h3 {
    margin: 20px 0;
    color: $main-color;
    font-weight: normal;
  }
}

.post-image {
  width: auto;
  max-width: 100%;
  height: auto;
}

.instagram-post {
  width: 100%;
  height: 100%;
}
