.post-title, .post-link {
  font-family: $headers-font-stack;
  font-weight: 100;
}

.post-title {
  color: $main-color;
}

.post-content {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.7;

  a {
    text-decoration: none;
    border-bottom: 3px solid $main-color;
  }

  p {
    margin-bottom: 30px;
  }

  .p-img {
    text-align: center;
  }

  h3 {
    margin: 20px 0;
    color: $main-color;
    font-weight: normal;
  }
}

.post-image {
  width: auto;
  max-width: 100%;
  height: auto;
}
