.post-title, .post-link {
  font-family: monospace;
  font-weight: 100;
}

.post-meta {
  font-family: monospace;
}

.post-title {
  color: coral;
}

.post-content {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.7;

  ul {
    list-style: square inside none;
    margin-bottom: 20px;
  }

  a {
    color: coral;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 coral;
    padding: 0 1px 0 1px;
    transition: all .25s ease-in-out;
    &:hover {
      color: black;
      background-color: coral;
    }
  }

  p {
    margin-bottom: 30px;
  }

  .p-img {
    text-align: center;
  }

  h3 {
    margin: 20px 0;
    color: coral;
    font-weight: normal;
  }
}

.post-image {
  width: auto;
  max-width: 100%;
  height: auto;
}

.instagram-post {
  width: 100%;
  height: 100%;
}

pre {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  color: #666;
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  word-wrap: break-word;
}
