$bege: #EBE3D9;
$coral: coral;
$dark-grey: #4E565B;
$bright-orange: #FF5722;
$dark-bege: #d4cabd;

$bg-color: $bege;
$primary: $coral;
$secondary: $dark-grey;
$highlight: $bright-orange;
$content-borders: $dark-bege; 

$body: black;

$max-width: rems(1230px);

$breakpoints: (
  small: rems(480px),
  medium: rems(640px),
  large: rems(880px),
  x-large: $max-width
);
