$headers-font-stack: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$body-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$main-color: #9370db;
$secondary-color: #77448b;
$third-color: #826888;
$body: #1f0f09;

$secondary-bg-color: #eee;
$color-hover: white;
