.about-me__title {
  display: inline-block;
  background-color: rgba(250,237,39,.44);
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  padding: 10px;
  line-height: 1.8;
  margin: 10px auto 30px auto;
}

.about-me__parent {
  display: flex;
  flex-wrap: wrap;
}
  
.about-me__sidebar { 
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

  @media all and (min-width: 900px) {
    flex-basis: 15rem;  
    flex-direction: column;
  }

  figure {
    padding: 8px;
    border: 1.5px solid #37353f;
    border-radius: 0 0 125px 3px/3px 85px 5px 55px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 40%;

    @media all and (min-width: 900px) {
      width: initial;
    }

    img {
      width: 100%;
    }

    &:first-of-type {
      margin-bottom: 15px;
    }
  }
}
.about-me__main-bio-wrapper {
  flex-basis: 0;
  flex-grow: 999;
  margin-top: 30px;

  @media all and (min-width: 900px) { 
    padding: 0 0 0 30px;
    margin: 0;
  }
}

.about-me__main-bio { 
  background-color: #ececec;
  padding: 15px;
  line-height: 1.8;

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
.about-me__extras { 
  grid-area: 2 / 1 / 3 / 7; 
  background-color: #ececec;
  padding: 15px;
  margin: 30px 0;

  ul li {
    list-style: inside;
  }
}

.aside__now-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.days-since-crying {
  background-color: #ececec;
  border-radius: 10px 55px 550px 70px/15px 10px 5px 5px;
  border: 2px solid #000;
  padding: 20px 10px;
  line-height: 1.6em;
  text-align: center;
  font-weight: 700;
}

.days-since-crying__header {
  text-align: center;
  background-color: darkolivegreen;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}

.days-since-crying__number {
  background-color: white;
  padding: 10px;
  border: 1px solid #d0cccc;
  font-family: sans-serif;
  color: black;
  display: block;
  text-align: center;
  margin: 10px;
}

.days-since-crying__message {
  font-size: 0.9rem;
}

.current-nail-polish {
  display: inline-block;
  background-color: rgb(250 39 52 / 15%);
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  padding: 3px 10px;
  line-height: 1.8;
  margin: 0 0 10px 0;
  width: auto;
  text-align: left;
  transform: rotate(358deg);
}

.current-nail-polish__img {
  background-color: bisque;
  width: 100%;
  border-radius: 90px 75px 300px 90px/15px 10px 5px 5px;
  border: 2px solid #000;
}