.archive {
  position: relative;

  h2 {
    display: inline-block;
    border-radius: 15px 65px 40px 75px/5px 5px 5px 5px;
    padding: 10px;
    line-height: 1.8;
    max-width: 680px;
    margin: 10px auto 10px auto;
    color: #333;
    background: repeating-linear-gradient(180deg, #ae9d8cba, #D3B89B 5%, #D3C0A6 0, #D3C0A6 50%) 0/15px 15px,repeating-linear-gradient(180deg, #D3B89B, #D3B89B 5%, #D3C0A6, #D3B89B 50%) 0/15px 15px;
  }
}

.archive__post-list {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
}

.archive__single-post {
  list-style: none;
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
  border-bottom: none;
  border-right: none;
  background-color: $bg;
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;


  h3 {
    margin: 0;
    order: 2;
    a {
      text-decoration: none;
    }
  }
}

.archive__single-post-meta {
  border-right: 1px solid #d7d7cf;
  margin-right: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  order: 1;
  min-width: 200px;
  max-width: 200px;

  time {
    font-family: "andale mono","monotype.com",monaco,"courier new",courier,monospace;
    margin-right: 20px;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.archive__single-post-tag-list {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.archive__single-post-tag {
  list-style: none;
  background-color: #d1a39d5e;
  padding: 3px;
  border-radius: 5px;
  font-family: "andale mono","monotype.com",monaco,"courier new",courier,monospace;
  font-weight: 400;
  border: 2px solid #D1A39D;
  font-size: 16px;
  margin: 0 5px 5px 0;
}