$secondary: black;
$gap: 30px;
$border-color: #916154;
$drawn-border-color: #37353f;



@font-face {
  font-family: 'Inconsolata Medium';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Inconsolata-Medium'), 
    url('/fonts/Inconsolata-Medium.ttf') format('truetype'),
    url("/fonts/Inconsolata-Medium.woff") format("woff"),
    url("/fonts/Inconsolata-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat-Regular'), 
    url('/fonts/Montserrat-Regular.ttf') format('truetype'),
    url("/fonts/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Italic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat-Italic'), 
    url('/fonts/Montserrat-Italic.ttf') format('truetype'),
    url("/fonts/Montserrat-Italic.woff") format("woff"),
    url("/fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Montserrat-Bold'), 
    url('/fonts/Montserrat-Bold.ttf') format('truetype'),
    url("/fonts/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata Medium', monospace;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 30px 0 30px 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Regular';
  margin: 0;
  padding: 30px 0;
  background-color: #ececec;
  border: 5px solid #ececec;
  line-height: 1.3;
  background-image: linear-gradient(transparent 11px, rgb(195, 195, 179) 12px, transparent 12px),linear-gradient(90deg, transparent 11px, rgba(195, 195, 179, 1) 12px, transparent 12px);
  background-size: 100% 12px,12px 100%;

}

a {
  text-decoration: underline;
}

a:link {
  color: $secondary;
}

a:visited {
  color: $secondary;
}

a:hover {
	color: $secondary;
	text-decoration: none;
}

a:active {
  color: $secondary;
}

blockquote {
  margin: 1.5em 0;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
  color: $secondary;
}

blockquote:before {
  color: $secondary;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  border-left: 2px solid $border-color;
  padding-left: 10px;
}

cite {
  display: block;
  margin: 0 0 1em 0.5em;
}

.float-left {
  float: left;
  width: 50%;
  margin: 0 15px 0 0;
  max-width: fit-content;
}

.float-right {
  float: right;
  width: 50%;
  margin: 0 0 0 15px;
  max-width: fit-content;
}

.hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

@mixin highlight-link {
  background: linear-gradient(to left, rgba(253, 200, 48, 0.3) 0%, rgba(253, 200, 48, 0.4) 60%, rgba(253, 200, 48, 0.4) 60%, rgba(253, 200, 48, 0.6) 85%, rgba(253, 200, 48, 0.8) 100%);
  padding: 10px;
  text-decoration-color: red;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  text-decoration-style: wavy;
  font-family: 'Nanum Pen Script';
  display:inline-block
}

%highlight-link {
  @include highlight-link;
}

@mixin single-post-container {
  border-radius: 105px 95px 100px 55px/15px 10px 5px 5px;
  border: 2px solid #000;
  padding: 10px;
  background-color: white;
  line-height: 1.8;
  max-width: 680px;
  margin: 0 auto;
}

%single-post-container {
  @include single-post-container;
}

code {
  background-color: antiquewhite;
}
