$secondary: black;
$gap: 30px;
$border-color: #916154;
$drawn-border-color: #37353f;
$bg: #ececec;

h1, h2, h3, h4, h5, h6 {
  font-family: 
    "andale mono",
    "monotype.com",
    monaco,
    "courier new",
    courier,
    monospace
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 30px 0 30px 0;
  padding: 0;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0;
  background-color: $bg;
  border: 30px solid $bg;
  line-height: 1.3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d7d7cf' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
  text-decoration: underline;
}

a:link {
  color: $secondary;
}

a:visited {
  color: $secondary;
}

a:hover {
	color: $secondary;
	text-decoration: none;
}

a:active {
  color: $secondary;
}

a:focus {
  outline: 2px solid #000;
  outline-offset: .2rem;
}

blockquote {
  margin: 1.5em 0;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
  color: $secondary;
}

blockquote:before {
  color: $secondary;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  border-left: 2px solid $border-color;
  padding-left: 10px;
}

cite {
  display: block;
  margin: 0 0 1em 0.5em;
}

.float-left {
  float: left;
  width: 50%;
  margin: 0 15px 0 0;
  max-width: fit-content;
}

.float-right {
  float: right;
  width: 50%;
  margin: 0 0 0 15px;
  max-width: fit-content;
}

.hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

@mixin highlight-link {
  background: linear-gradient(to left, rgba(253, 200, 48, 0.3) 0%, rgba(253, 200, 48, 0.4) 60%, rgba(253, 200, 48, 0.4) 60%, rgba(253, 200, 48, 0.6) 85%, rgba(253, 200, 48, 0.8) 100%);
  padding: 10px;
  text-decoration-color: red;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  text-decoration-style: wavy;
  font-family: 'Nanum Pen Script', "andale mono","monotype.com",monaco,"courier new",courier,monospace;
  display:inline-block
}

%highlight-link {
  @include highlight-link;
}

@mixin single-post-container {
  border-radius: 105px 95px 100px 55px/15px 10px 5px 5px;
  border: 2px solid #000;
  padding: 10px;
  background-color: white;
  line-height: 1.8;
  max-width: 680px;
  margin: 0 auto;
}

%single-post-container {
  @include single-post-container;
}

code {
  background-color: antiquewhite;
}

.skip-link {
  position: absolute;
  padding: 30px;
  background-color: $bg;
  color: black;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}
