$secondary: black;
$gap: 30px;
$border-color: #916154;
$drawn-border-color: #37353f;

@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('NanumPenScript-Regular'), 
    url("/fonts/NanumPenScript-Regular.woff") format("woff"),
    url("/fonts/NanumPenScript-Regular.woff2") format("woff2"),
    url('/fonts/NanumPenScript-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Inconsolata Medium';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Inconsolata-Medium'), 
    url('/fonts/Inconsolata-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat-Regular'), 
    url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Italic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat-Italic'), 
    url('/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Montserrat-Bold'), 
    url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata Medium';
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Regular';
  margin: 0;
  padding: 30px 0;
  background-color: #ececec;
  border: 20px solid #ececec;
  line-height: 1.3;
  background-image: linear-gradient(transparent 11px, rgb(195, 195, 179) 12px, transparent 12px),linear-gradient(90deg, transparent 11px, rgba(195, 195, 179, 1) 12px, transparent 12px);
  background-size: 100% 12px,12px 100%;
}

a {
  text-decoration: underline;
}

a:link {
  color: $secondary;
}

a:visited {
  color: $secondary;
}

a:hover {
	color: $secondary;
	text-decoration: none;
}

a:active {
  color: $secondary;
}

blockquote {
  margin: 1.5em 0;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
  color: $secondary;
}

blockquote:before {
  color: $secondary;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  border-left: 2px solid $border-color;
  padding-left: 10px;
}

cite {
  display: block;
  margin: 0 0 1em 0.5em;
}

img {
	width: auto;
  max-width: 100%;
  height: auto;
  outline-offset: -15px;
  outline: 3px dashed rgba(255, 255, 255, 0.2);
  margin: 15px 0;
}

.float-left {
  float: left;
  width: 50%;
  margin: 0 15px 0 0;
  max-width: fit-content;
}

.float-right {
  float: right;
  width: 50%;
  margin: 0 0 0 15px;
  max-width: fit-content;
}

.hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
