//temp styles

.bookmarks-list {
  list-style: none;
}

.bookmark-info {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  border-color: #d8d8d1;
  border-bottom-style: dashed;
}

.bookmark-title, .bookmark-info p {
  margin: 10px 0;
}

.bookmark {
  padding: 10px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #ececec;

  &:last-of-type {
    margin-bottom: 0;
  }

  li {
    list-style: inside;
  }
}
