.tape {
  width: 85px;
  height: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transform: rotate(-25deg);
  margin: 0.2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgba(224, 217, 218, 0.4);
  left: -22px;
  top: -8px;
}

.tape--bottom-right {
  bottom: -10px;
  top: unset;
  right: -30px;
  left: unset;
}

.tape--menu-top {
  width: 185px;
  height: 40px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  transform: rotate(2deg);
  margin: .2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgb(169 163 142 / 21%);
  left: calc(50% - 70px);
  top: -26px;
}

.tape--guestbook-middle-top {
  width: 185px;
  height: 40px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  transform: rotate(355deg);
  margin: .2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgb(169 163 142 / 21%);
  left: calc(50% - 70px);
  top: -38px;
}

.tape--guestbook-left-top {
  width: 100px;
  height: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transform: rotate(-25deg);
  margin: 0.2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgb(169 163 142 / 21%);
  left: -35px;
  top: -30px;
}

.tape--guestbook-right-bottom {
  width: 100px;
  height: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transform: rotate(-25deg);
  margin: 0.2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgb(169 163 142 / 21%);
  bottom: -24px;
  top: unset;
  right: -34px;
  left: unset;
}

.aside__highlighted {
  border-radius: 555px 95px 100px 55px/15px 10px 5px 5px;
  border: 2px solid #000;
  padding: 20px 10px;
  background-color: rgba(255,255,255,.5);
  line-height: 1.6em;
}