@mixin font-base {
  font-family: monospace;
  font-weight: normal;
  font-size: rems(13px);
}

%font-base {
  @include font-base;
}

@mixin font-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: rems(15px);
}

%font-body {
  @include font-body;
}

@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('NanumPenScript-Regular'), 
    url("/assets/fonts/NanumPenScript-Regular.woff") format("woff"),
    url("/assets/fonts/NanumPenScript-Regular.woff2") format("woff2"),
    url('/assets/fonts/NanumPenScript-Regular.ttf') format('truetype');
}
