footer {
  background-color: #ececec;
}

.footer-inner-container {
  position: relative;
  padding: 30px 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.footer__profile-img{
  flex: 0;
  margin-right: 10px;
}

.footer__bio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__links {
  flex: 0 0 auto;
}

.footer__extra {
  flex: 0 0 100%;
  p {
    margin-bottom: 15px;
  }
}

.footer__img{
  width: 150px;
  border-radius: 70px 95px/110px 50px;
  border: 2px solid #000;
  padding: 10px;
}

.footer__links-title {
  margin-bottom: 15px;
}
.footer__link-list-item {
  list-style: inside;
}

.footer__rings {
  a {
    text-decoration: none;
  }

  text-align: center;
  border-top: 1px solid #d8d8d1;
  width: 100%;
  padding: 10px;
}

.footer__greeting {
  border-radius: 100px 95px/100px 50px;
  border: 2px solid #000;
  display: inline;
  width: 90px;
  padding: 10px;
  position: relative;
  font-family: "Nanum Pen Script", "andale mono","monotype.com",monaco,"courier new",courier,monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  &::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 11px 11px 0px;
    border-color: transparent black;
    display: block;
    width: 0;
    z-index: 0;
    left: -9px;
    top: 13px;
  }
  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 8px 9px 0;
    border-color: transparent #ececec;
    display: block;
    width: 0;
    z-index: 1;
    left: -6px;
    top: 18px;
  }
}