.main-footer {
  .footer-inner-container {
    border-radius: 105px 105px 105px 105px/10px 10px 10px 5px;
    border: 2px solid #000;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }

  .profile-img {
    flex: 0;
    margin-right: 10px;
  }

  .bio, .links {
    flex: 1;
  }

  .footer-notes {
    flex: 0 0 100%;
  }

  .profile-img img {
    width: 150px;
  }

  a:hover {
    text-decoration: none;
  }
}