.post {
  background-color: #ececec;
  padding: 10px;
  max-width: 680px;
  margin: 30px auto;

  a:link {
    color: $secondary;
  }
  
  a:visited {
    color: $secondary;
  }
  
  a:hover {
    color: #325208;
    text-decoration: none;
  }
  
  a:active {
    color: $secondary;
  }

  img {
    width: 100%;
  }

  li {
    list-style: inside;
  }

  .post-header {
    border-bottom: 1px solid;
    margin-bottom: 15px;
    border-color: #657161;
    border-bottom-style: dashed;

    @media all and (min-width: 700px) {
      padding: 0 30px;
    }

    h1 {
      margin: 10px 0;
      color: black;
      display: inline-block;
      background-color: rgba(250,237,39,.44);
      box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
      padding: 10px;
      line-height: 1.8;
    }
  }

  .post-meta {
    margin: 10px 0;
    font-family: "andale mono","monotype.com",monaco,"courier new",courier,monospace;
    color: #5a6b56;
    margin-bottom: 30px;
  }

  .post-content {
    @media all and (min-width: 700px) {
      padding: 0 30px;
    }
  }
}

.post, .post-content, .rich-text {
  & > * + p, & > * + ul, & > * + h3 {
    margin-top: 15px;
  }

  p, ul li {
    line-height: 1.8rem;
  }

  & > * + h1, 
  & > * + h2, 
  & > * + h3, 
  & > * + h4, 
  & > * + h5, 
  & > * + h6 {
    margin-top: 35px;
  }

  hr {
    margin: 30px 0;
  }
}

.post-image {
  margin: 20px 0 0 0;
}

.mood {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);
  border-radius: 15px 65px 40px 75px/5px 5px 5px 5px;
  padding: 10px;
  line-height: 1.8;
  max-width: 680px;
  margin: 30px auto;
  color: #333;
  background: repeating-linear-gradient(180deg, #ae9d8cba, #D3B89B 5%, #D3C0A6 0, #D3C0A6 50%) 0 / 15px 15px, repeating-linear-gradient(180deg, #D3B89B, #D3B89B 5%, #D3C0A6, #D3B89B 50%) 0 / 15px 15px;
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }

  @media all and (min-width: 700px) {
    overflow: initial;
  }
}

.post__message {
  max-width: 635px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 10px;
  }
}

.post__contact {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    width: max-content;
  }
}

.article__top-update {
  padding: 30px 10px 0 10px;
  border: 10px solid #e8d4cb;
  padding: 30px;
  background: url(/assets/website/texture.png);
  margin-bottom: 2rem;

  span {
    display: inline-block;
    background-color: rgba(250, 237, 39, .44);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    padding: 2px 5px;
    margin-bottom: 1rem;
  }
}