.heading--primary {
    display: inline-block;
    background-color: rgba(250,237,39,.44);
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
    padding: 10px;
    margin: 10px auto 30px auto;
    color: black;
}