/**
 * Reset some basic elements
 */
body, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

@import "fonts";
@import "base";
@import "layouts";
@import "header";
@import "footer";
@import "bookmarks";
@import "pagination";
@import "decoration";
@import "archive-list";
@import "post";
@import "about-me";
@import "colours_2018";
@import "guestbook";
@import "refactor";


.home-page, .single-page {
  padding: 30px 0;
}

.home-grid__navigation-link {
  @extend %highlight-link;
  background: none;
  text-decoration-color: black;
}

.new-grid-test {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  & > div {
    height: 160px;
    padding: 30px;
    position: relative;
    background-color: rgb(215 215 207 / 0.64);

    &:hover {
      outline: 2px solid black;
      outline-offset: .2rem;
    }

    a {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      &:hover {
        & ~ svg {
          transform: scale(1.05) rotate(-120deg);
          @media screen and (prefers-reduced-motion: reduce) {
            transform: none;
          }
        }
      }

      &:focus {
        outline: 2px solid black;
        outline-offset: .2rem;
        text-decoration: none;
      }
    }

    svg {
      transition: all 10s cubic-bezier(0.08, 0.21, 0.84, 1.01);
      position: absolute;
      z-index: -1;
      opacity: 0.5;
      height: 100%;
      width: 100%;
    }
  }

  .home-grid__read-my-blog-posts {
    border-radius: 67% 35% 45% 70% / 73% 40% 60% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(2deg);
    border: 0;
    background-color: #e7d497;
    transition: all 2s cubic-bezier(0.08, 0.21, 0.84, 1.01);
    &:hover {
      transform: scale(1.05);
      outline: 0;

      @media screen and (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }

    a {
      text-align: center;
      padding: 0;
    }
  }

  .home-grid__about-me {
    background-image: url('/assets/website/menu-item__about-me.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-2deg);
  }

  .home-grid__guestbook {
    background-image: url('/assets/website/menu-item__guestbook.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .home-grid__pixels {
    background-image: url('/assets/website/menu-item__pixels.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(3deg);
  }

  .home-grid__bookmarks {
    background-image: url('/assets/website/menu-item__bookmarks.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-grid__blogroll {
    background-image: url('/assets/website/menu-item__blogroll.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-3deg);
  }

  .home-grid__analog-journal {
    background-image: url('/assets/website/menu-item__analog-journal.png');
    background-size: 55%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position-y: bottom;
    text-align: right;
  }

  .home-grid__website {
    background-image: url('/assets/website/menu-item__website.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom RIGHT;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(3deg);
  }

  .home-grid__drafts {
    background-image: url('/assets/website/menu-item__drafts.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-2deg);
  }

  .home-grid__cursed-thoughts {
    background-image: url('/assets/website/menu-item__cursed-thoughts.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: normal;
    align-items: center;
  }
}

