@import "colours_2018";

//NEW STUFF - TO BE PRETTIER. One day at the time.

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


h1, h2, h3, h4, h5 {
  font-family: 'Karla', sans-serif;
}

$gap: 30px;
$border-color: #916154;
$drawn-border-color: #37353f;

a {
  color: black;
}

.wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6dfd6;
  display: flex;
  height: auto;
  font-family: 'Inconsolata', monospace;
  line-height: 1.3;
  flex-direction: column;
}

.main-header {
  border: 1px solid #916154;
  writing-mode: unset;
  padding: $gap;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(transparent 11px, rgb(195, 195, 179) 12px, transparent 12px),linear-gradient(90deg, transparent 11px, rgba(195, 195, 179, 1) 12px, transparent 12px);
  background-size: 100% 12px,12px 100%;
  flex-direction: column-reverse;
  align-items: center;

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 15px;
    }
  }
}

main {
  flex: 1;
  a:hover {
    text-decoration: none;
  }
}

.main-footer {
  border: 1px solid $border-color;
  flex: 0;
  padding: $gap;
  background-image: linear-gradient(transparent 11px, rgb(195, 195, 179) 12px, transparent 12px),linear-gradient(90deg, transparent 11px, rgba(195, 195, 179, 1) 12px, transparent 12px);
  background-size: 100% 12px,12px 100%;
  min-width: 200px;

  .footer-inner-container {
    border: 1.5px solid $drawn-border-color;
    border-radius: 0 0 125px 3px/3px 85px 5px 55px;
    position: relative;
    padding: 10px;
  }

  .profile-img img {
    width: 150px;
  }

  a:hover {
    text-decoration: none;
  }
}

li.single-post {
  background-color: #d0c3bc;
}

li.single-post.rsvp {
  background-color: #aca793;
}


li.single-post.instagram {
  background-color: #fff;
  background-image: linear-gradient(transparent 11px, rgba(220, 220, 200, 0.8) 12px, transparent 12px),linear-gradient(90deg, transparent 11px, rgba(220, 220, 200, 0.8) 12px, transparent 12px);
  background-size: 100% 12px,12px 100%;

  img {
    width: 100%;
  }
}

.home-page {
  padding: $gap 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .single-post {
      padding: $gap;
      border: 1px solid $border-color;
      margin-bottom: $gap;
    }
  }

}

.header-image {
  width: 200px;
}

.tape {
  width: 85px;
  height: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transform: rotate(-25deg);
  margin: 0.2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgba(224, 217, 218, 0.4);
  left: -22px;
  top: -8px;
}

.post {
  padding: $gap 0;

  img {
    border: 1px solid $border-color;
    width: calc(100% - 60px);
    padding: 30px;
    background-image: linear-gradient(transparent 11px, #c3c3b3 12px, transparent 12px),linear-gradient(90deg, transparent 11px, #c3c3b3 12px, transparent 12px);
    background-size: 100% 12px,12px 100%;
    background-color: white;
    object-fit: scale-down;
  }
}

.mood {
  margin-bottom: $gap;
}

@media all and (min-width: 1020px) {
  body {
    flex-direction: inherit;
    height: 100vh;
  }

  .main-header {
    writing-mode: vertical-rl;
    flex-direction: inherit;
  }

  main {
    overflow-y: scroll;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .main-footer {
    .profile-img img {
      width: 100%;
    }
  }

  .post-header, .mood {
    border: 1px solid $border-color;
    padding: $gap;
  }

  .post-header, .mood {
    padding: $gap;
  }
  
  .post-content {
    padding: 0 $gap;
  }
}