/**
 * Reset some basic elements
 */
 body, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }

 
@import "base";
@import "header";
@import "colours_2018";
@import "footer";

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

main {
  a:hover {
    text-decoration: none;
  }
}

li.single-post {
  background-color: #ececec;
  a {
    background: linear-gradient(to left, rgba(240, 204, 215, 0.3) 0%, rgba(240, 204, 215, 0.4) 60%, rgba(240, 204, 215, 0.4) 60%, rgba(240, 204, 215, 0.6) 85%, rgba(240, 204, 215, 0.8) 100%);
    padding: 5px;
    border-bottom: 2px solid;
    border-radius: 100px 100px 10px 100px/0px 0px 5px 5px;
    border-color: #E91E63;
    text-decoration: none;
    &:hover {
      background: none;
      border-bottom: transparent;
    }
  }
}

li.single-post.rsvp {
  background-color: #aca793;
}


li.single-post.instagram {
  background-color: #fff;

  img {
    width: 100%;
  }
}

.home-page {
  padding: $gap 0;
  .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .single-post {
      padding: $gap;
      border-radius: 125px 125px 125px 100px/5px 5px 5px 5px;
      border: 2px solid #000000;
      margin-bottom: $gap;
    }
  }

}

.single-page {
  border-radius: 115px 95px 115px 55px/5px 15px 15px 5px;
  border: 2px solid #000;
  padding: 10px;
  background-color: white;
}


.tape {
  width: 85px;
  height: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transform: rotate(-25deg);
  margin: 0.2rem 0;
  position: absolute;
  z-index: 2;
  background-color: rgba(224, 217, 218, 0.4);
  left: -22px;
  top: -8px;
}

.post {
  border-radius: 105px 95px 100px 55px/15px 10px 5px 5px;
  border: 2px solid #000;
  padding: 10px;
  background-color: white;
  line-height: 1.8;
  max-width: 680px;
  margin: 0 auto;

  img {
    border: 1px solid $border-color;
    width: calc(100% - 60px);
    padding: 30px;
    background-image: linear-gradient(transparent 11px, #c3c3b3 12px, transparent 12px),linear-gradient(90deg, transparent 11px, #c3c3b3 12px, transparent 12px);
    background-size: 100% 12px,12px 100%;
    background-color: white;
    object-fit: scale-down;
  }

  li {
    list-style: inside;
  }
}

.mood {
  margin-bottom: $gap;
}

.pagination {
  text-align: center;
}

.pagination__link {
  @extend %highlight-link;
}

@media all and (min-width: 1020px) {
  .post-header, .mood {
    padding: $gap;
  }
  
  .post-content {
    padding: 0 $gap $gap $gap;
  }
}