---
layout: default
---

<div class="page-content">
  <h2>Tag: {{ page.tag }}</h2>
  <h3><a href="/bookmarks/">View all bookmarks</a></h3>

  <ul class="bookmarks-list">
  {% for post in site.tags[page.tag] %}
    <li class="bookmark h-entry">
      <div class="bookmark-info">
        <span class="bookmark-date">{{ post.date }}</span>
        <h2 class="bookmark-title">
          <a class="u-bookmark-of h-cite" href="{{ post.mf-bookmark-of }}" target="_blank">{{ post.title }}</a>
        </h2>
        <div class="bookmark-description">{{post.content}}</div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
