---
layout: default
---
<div class="page-content">

  <!-- <ul class="tags">
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
  {% endfor %}
  </ul> -->
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.category contains "post" or post.category contains "social" %}
      <li class="single-post {% if post.category contains "social" %}instagram{% endif %}">
        <div class="post-info">
          <span class="post-meta">{{ post.date | date: '%B %d, %Y' }}</span>
          <h2>
            <span class="post-title">
              {% if post.category contains "social" %}
                <a href="{{ post.mf-syndication }}" target="_blank">Instagram post</a>
              {% else %}
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              {% endif %}
            </span>
          </h2>
        </div>

        {% if post.category contains "social" %}
          <img class="post-img-thumb" src="{{ post.mf-photo }}" alt="{{ post.alt }}"/>

          <div class="post-img-content">{{ post.content }}</div>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
