---
layout: all
---

<article class="post h-entry">
  <div class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ title | escape }}</h1>
    <p class="post-meta">
      Published by <a class="p-author h-card" href="https://ohhelloana.blog">Ana Rodrigues</a> on the <time datetime="{{ date | time }}">{{ date | prettyDate }}</time>
    </div>

  <div class="post-content e-content" itemprop="articleBody">

    {{ content | safe }}
  </div>
</article>

{% if hasMood %}
  {% include "partials/mood.njk" %}
{% endif %}

<div class="post__message guestbook__new-entry">
  <h2>Send me a message about this post</h2>
  <p>Messages sent via the following form will not be published.</p>
  <form class="post__contact" name="contact" method="POST" data-netlify="true">
    <p>
      <label>Your Name: <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Your Email: <input type="email" name="email" /></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
    <p>
      <input type="hidden" name="post" value="{{title}}">
      <button type="submit">Send</button>
    </p>
  </form>
</div>

  {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {% set nextPost = collections.posts | getNextCollectionItem(page) %}
  <h2 class="heading--primary">Read more posts</h2>
  <div class="archive__post-list">
    {% if previousPost %}
    <div class="archive__single-post">
      <h3>
        <span class="post-title">
            <a href="{{ previousPost.url }}">{{ previousPost.data.title | escape }}</a>
        </span>
      </h3>

      {% if previousPost.data.hasContentNote %}
        <span class="content-note">Content note: {{previousPost.data.contentNote}}</span>
      {% endif %}
      
      <div class="archive__single-post-meta">
          <time datetime="{{ previousPost.date | time }}">{{ previousPost.date | prettyDate }}</time>
          <ul class="archive__single-post-tag-list">
            {% for tag in previousPost.data.tags  %}
              {% if tag != 'post' %}<li class="archive__single-post-tag">{{ tag }}</li>{% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
    {% endif %}
    {% if nextPost %}
    <div class="archive__single-post">
      <h3>
        <span class="post-title">
            <a href="{{ nextPost.url }}">{{ nextPost.data.title | escape }}</a>
        </span>
      </h3>

      {% if nextPost.data.hasContentNote %}
        <span class="content-note">Content note: {{nextPost.data.contentNote}}</span>
      {% endif %}
      
      <div class="archive__single-post-meta">
          <time datetime="{{ nextPost.date | time }}">{{ nextPost.date | prettyDate }}</time>
          <ul class="archive__single-post-tag-list">
            {% for tag in nextPost.data.tags  %}
              {% if tag != 'post' %}<li class="archive__single-post-tag">{{ tag }}</li>{% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
    {% endif %}
  </div>






