---
layout: default
---
<article class="post h-entry">
  <div class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ post.title | escape }}</h1>
    <p class="post-meta">
      Published by <a class="p-author h-card" href="https://ohhelloana.blog">Ana Rodrigues</a> on the <time datetime="{{ post.date | time }}">{{ post.date | prettyDate }}</time>
    </div>

  <div class="post-content e-content" itemprop="articleBody">

    {{ content | safe }}
  </div>
</article>
