---
layout: default
---

<article class="post h-entry">
  <a class="p-author h-card" href="https://www.ohhelloana.blog">
    <img class="photo u-photo" src="{{ site.baseurl }}/assets/profile.jpg" alt="Ana"></img>
    Ana
  </a>
  is RSVPing <span class="p-rsvp">{{ page.rsvp }}</span> to <a href="{{ page.rsvpTargetUrl }}" class="u-in-reply-to">{{ page.rsvpTargetName }}</a>
</article>

{% if hasMood %}
  {% include "partials/mood.njk" %}
{% endif %}