<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main role="main">
      <div class="wrapper two-col">
        {{ content }}

        <aside class="aside aside-right">
          <h2>
            Sites & blogs I binge read
          </h2>

          <ul class="bookmarks-list">
        
            <li class="bookmark-title">
              <a href="https://aaronparecki.com/" target="_blank">Aaron Parecki</a>
            </li>
            <li class="bookmark-title">
              <a href="https://adactio.com/" target="_blank">Adactio: Jeremy Keith</a>
            </li>
            <li class="bookmark-title">
              <a href="https://amberwilson.co.uk/" target="_blank">Amber Wilson</a>
            </li>

            <li class="bookmark-title">
              <a href="https://andy-bell.design/" target="_blank">Andy Bell</a>
            </li>
            <li class="bookmark-title">
              <a href="http://artist-developer.com/" target="_blank">Artist Developer</a>
            </li>

            <li class="bookmark-title">
              <a href="https://bitsofco.de/" target="_blank">Bits of Code</a>
            </li>
            <li class="bookmark-title">
              <a href="https://www.brucelawson.co.uk/" target="_blank">Bruce Lawson</a>
            </li>
            <li class="bookmark-title">
              <a href="http://calumryan.com" target="_blank">Calum Ryan</a>
            </li>
            <li class="bookmark-title">
              <a href="https://www.sonniesedge.co.uk/" target="_blank">Charlie Owen</a>
            </li>
            <li class="bookmark-title">
              <a href="https://chelseatroy.com/" target="_blank">Chelsea Troy</a>
            </li>
            <li class="bookmark-title">
              <a href="https://www.chenhuijing.com/" target="_blank">Chen Hui Jing</a>
            </li>
            <li class="bookmark-title">
              <a href="https://chrisburnell.com/" target="_blank">Chris Burnell</a>
            </li>
            <li class="bookmark-title">
              <a href="http://blog.danielleavincent.com/" target="_blank">Danielle A Vincent</a>
            </li>
            <li class="bookmark-title">
              <a href="https://deliciousreverie.co.uk/" target="_blank">Delicious Reverie</a>
            </li>
            <li class="bookmark-title">
              <a href="https://doubleloop.net/" target="_blank">Double Loop</a>
            </li>
            <li class="bookmark-title">
              <a href="http://goingoutofhouse.blogspot.com/" target="_blank">Going out of house</a>
            </li>
            <li class="bookmark-title">
              <a href="https://hey.georgie.nu/" target="_blank">Hey Georgie</a>
            </li>
            <li class="bookmark-title">
              <a href="http://www.heydonworks.com/" target="_blank">Heydon Works</a>
            </li>
            <li class="bookmark-title">
              <a href="https://hiddedevries.nl/en/" target="_blank">Hidde de Vries</a>
            </li>
            <li class="bookmark-title">
              <a href="https://blog.voss.co/" target="_blank">Jonas Voss</a>
            </li>
            <li class="bookmark-title">
              <a href="https://julieannenoying.com/" target="_blank">Julie Anne Noying</a>
            </li>
            <li class="bookmark-title">
              <a href="https://www.madebymike.com.au" target="_blank">Mike Riethmuller</a>
            </li>
            <li class="bookmark-title">
              <a href="http://rfl.webdeldn.rocks/" target="_blank">Readings for lunch</a>
            </li>
            <li class="bookmark-title">
              <a href="https://rickbutterfield.com/blog" target="_blank">Rick Butterfield</a>
            </li>
            <li class="bookmark-title">
              <a href="https://rhiaro.co.uk/" target="_blank">Rhiaro</a>
            <li class="bookmark-title">
              <a href="http://www.sending-postcards.com/" target="_blank">Sending Postcards</a>
            </li>
            <li class="bookmark-title">
              <a href="http://sxywu.com/" target="_blank">Shirley Xueyang Wu</a>
            </li>
            <li class="bookmark-title">
              <a href="http://www.swiss-miss.com/" target="_blank">Swiss Miss</a>
            </li>
            <li class="bookmark-title">
              <a href="http://tantek.com/" target="_blank">Tantek Çelik</a>
            </li>
            <li class="bookmark-title">
              <a href="http://tholman.com/" target="_blank">Tim Holman</a>
            </li>
          </ul>
        </aside>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
