---
layout: default
---
<article class="post h-entry">
  <div class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      Date published:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
        {{ page.date | date: '%B %d, %Y' }}
      </time>
    </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

{% if page.hasMood %}
  {% include mood.html %}
{% endif %}

<!-- <section id="webmentions" class="entry__comments">
  <h1>Webmentions</h1>
  {% webmentions page.url posts replies links %}

  <h2>Likes</h2>
  {% webmention_likes page.url %}

  <h2>Shares</h2>
  {% webmention_reposts page.url %}
</section> -->
