---
layout: default
---
<article class="post h-entry">

  <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      Date published:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
        {{ page.date | date: '%B %d, %Y' }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

{% capture url_path %}{{site.url}}{{page.url}}{% endcapture %}

  <p>site url: {{site.url }} </p>
  <p>page url: {{page.url }} </p>
  <p>page url: {{page.url }} </p>

  here : {{ url_path }}
  <div class="webmentions">
    {% webmentions url_path %}
  </div>
</article>
