---
layout: default
---
<article class="post h-entry">
  <div class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      Date published:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
        {{ page.date | date: '%B %d, %Y' }}
      </time>
    </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<section>
  {% webmentions %}
</section>
