---
layout: default
---

<article class="post h-entry">
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
    {{ page.date | date: '%B %d, %Y' }}
  </time>
  <a class="p-author h-card" href="https://www.ohhelloana.blog">
    <img class="photo u-photo" src="{{ site.baseurl }}/assets/profile.jpg" alt="Photo of Ana"></img>
    Ana
  </a>
  is RSVPing <span class="p-rsvp">{{ page.rsvp }}</span> to <a href="{{ page.rsvpTargetUrl }}" class="u-in-reply-to">{{ page.rsvpTargetName }}</a>
</article>

{% if page.hasMood %}
  {% include mood.html %}
{% endif %}
