---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Oh Hello Ana",
    "subtitle": "A blog from Ana Rodrigues.",
    "url": "https://ohhelloana.blog",
    "feedUrl": "https://ohhelloana.blog/feed.xml",
    "author": {
      "name": "Ana Rodrigues",
      "email": "contact@ohhelloana.blog"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.mainFeed | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.mainFeed %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {%- if post.data.hasContentNote %}
      <content type="html">This post has a content note of {{post.data.contentNote}}. Visit the link directly if you're okay with reading it.</content>
    {%- else %}
      <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>