<footer class="h-card" role="contentinfo">
  <div class="wrapper">


    <div class="footer-inner-container">

      <div class="tape"></div>
      <div class="profile-img">
        <img class="photo u-photo" src="{{ site.baseurl }}/assets/profile.jpg" alt="Photo of Ana"></img>
      </div>

      <div class="bio">
        <span class="greeting">oh, hello!</span>
        <p class="p-note">
          My name is <a href="http://ohhelloana.blog" class="url u-url" rel="me"><span class="p-name u-author">Ana Rodrigues</span></a> and I'm a front end developer in <span class="locality">London</span>.</p>
      </div>

      <div class="links">
        <ul>
          <li><a href="http://www.twitter.com/ohhelloana" rel="me">Twitter</a></li>
          <li><a href="http://www.instagram.com/ohhelloana" rel="me">Instagram</a></li>
          <li><a href="http://www.github.com/ohhelloana" rel="me">Github</a></li>
        </ul>
      </div>

      <div class="footer-notes">
        <p>Sometimes written in Portuguese, sometimes written in English, sometimes just images. </p>

        <p>There's a <a href="{{site.baseurl}}/feed.xml">RSS</a> feed for all posts and a <a href="{{site.baseurl}}/feed.links.xml">RSS feed</a> for bookmarks.</p>

        <p>People cooler than me indirectly contributed to a bunch of this on this blog and have been credited.</p>
      </div>
    </div>
  </div>
</footer>
