<header class="header">
  <div class="wrapper header__wrapper">
    <div class="header__img-container">
      <img 
        src="{{ site.baseurl }}/assets/header.png" 
        class="header__image" 
        alt="A drawing of Ana holding a phone and taking a photo of a cat who is washing itself. The cat says, suprised, oh, hello Ana.">
      </img>
    </div>

    <a href="/" title="Go to the homepage." class="header__home-link">
      <h1 class="header__title">OhHelloAna.blog</h1>
      <small class="header__small-print">Jottings from Ana Rodrigues</small>
    </a>
  </div>
</header>
