<header class="main-header">
  <div class="wrapper header">
    <div class="logo">
      <img 
        src="{{ site.baseurl }}/assets/header.png" 
        class="header-image" 
        alt="A drawing of Ana holding a phone and taking a photo of a cat who is washing itself. The cat says, suprised, oh, hello Ana.">
      </img>
    </div>
    <a href="/" title="Go to the homepage." class="main-header__homepage_link">
      <span>Jottings from Ana Rodrigues</span>
    </a>
    <nav role="navigation" class="menu-container">
      <ul>
        <li>
          <a href="{{site.baseurl}}/about" title="About me, contact information and website credits.">About</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/bookmarks" title="All my bookmarks.">Bookmarks</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
