<header>
  <div class="wrapper header">
    <h1>
      <a href="/" title="OhHelloAna.blog">
        <img src="{{ site.baseurl }}/assets/header.png" class="header-image" alt="A drawing of Ana holding a phone and taking a photo of a cat who is washing itself. The cat says, suprised, oh, hello Ana.">
        </img>
      </a>
    </h1>
    <nav role="navigation" class="menu-container">
      <ul>
        <li>
          <a href="{{site.baseurl}}/about" title="About Ana">About</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/bookmarks" title="Bookmarks">Bookmarks</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/contact" title="Contact Ana">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
