<div class="wrapper repeated-menu">
  <div class="tape--menu-top"></div>
  <nav role="navigation" class="secondary-menu">
    <ul>
      <li><a href="/">Main menu</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/pixels">Pixels</a></li>
      <li><a href="/bookmarks">Bookmarks</a></li>
      <li><a href="/cursed-thoughts">Jots</a></li>
      <li><a href="/drafts">Drafts</a></li>
    </ul>
  </nav>
</div>