<section class="mood">
  <div class="tape"></div>
  <ul>
    <li>
      <span>Mood:</span> {{ mood }}
    </li>
    <li>
      <span>Doing:</span> {{ doing }}
    </li>
    <li>
      <span>Thinking:</span> {{ thinking }}
    </li>
    <li>
      <span>Listening:</span> {{ listening }}
    </li>
  </ul>
  <div class="tape tape--bottom-right"></div>
</section>