<section class="mood">
  <ul>
    <li>
      <span>Mood:</span> {{ page.mood }}
    </li>
    <li>
      <span>Doing:</span> {{ page.doing }}
    </li>
    <li>
      <span>Thinking:</span> {{ page.thinking }}
    </li>
    <li>
      <span>Listening:</span> {{ page.listening }}
    </li>
  </ul>
</section>