<nav role="navigation" class="pagination">
  {% if pagination.href.previous %}
    <a class="pagination__link" href="{{ pagination.href.previous }}">&larr; Newer <span class="page">entries</span></a>
  {% endif %}
  {% if pagination.href.next %}
    <a class="pagination__link" href="{{ pagination.href.next }}">Older <span class="page">entries</span> &rarr;</a>
  {% endif %}
</nav>
